<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GlazeApp"
        tools:targetApi="31">
        <activity
            android:name=".intromask"
            android:exported="false" />
        <activity
            android:name=".updateaccount"
            android:exported="false" />
        <activity
            android:name=".myaccount"
            android:exported="false" />
        <activity
            android:name=".saved"
            android:exported="false" />
        <activity
            android:name=".notification"
            android:exported="false" />
        <activity
            android:name=".contactus"
            android:exported="false" />
        <activity
            android:name=".sheetmask"
            android:exported="false" />
        <activity
            android:name=".Creammask"
            android:exported="false" />
        <activity
            android:name=".useracc"
            android:exported="false" />
        <activity
            android:name=".registation"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".Article"
            android:exported="false" />
        <activity
            android:name=".tonerandscrub"
            android:exported="false" />
        <activity
            android:name=".facemask"
            android:exported="false" />
        <activity
            android:name=".generaltips"
            android:exported="false" />
        <activity
            android:name=".dryskin"
            android:exported="false" />
        <activity
            android:name=".footer"
            android:exported="false" />
        <activity
            android:name=".header"
            android:exported="false" />
        <activity
            android:name=".normalskin"
            android:exported="false" />
        <activity
            android:name=".onboading1"
            android:exported="false" />
        <activity
            android:name=".oilyskin"
            android:exported="false" />
        <activity
            android:name=".skincare"
            android:exported="false" />
        <activity
            android:name=".onboading3"
            android:exported="false" />
        <activity
            android:name=".loading"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".onboading2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>